<!DOCTYPE html>
<html lang="{{ .Lang }}">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>{{ .Title }}</title>
    <meta name="description" content="{{ .Description | default (.Summary | default .Site.Params.description ) }}">
    <meta name="keywords" content="{{ (delimit .Keywords " ,") | default .Site.Params.keywords }}">

    <!-- Vendor CSS Files -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">

    {{ $options := (dict "targetPath" "assets/vendor/bootstrap/css/bootstrap.css" "outputStyle" "compressed"
    "enableSourceMap" true) }}
    {{ $bootstrapStyle := resources.Get "vendor/bootstrap/scss/bootstrap.scss"
    | resources.ExecuteAsTemplate "vendor/bootstrap/scss/bootstrap.scss" .
    | resources.ToCSS $options
    | minify
    | fingerprint "sha512" }}
    <link href="{{ $bootstrapStyle.Permalink }}" rel="stylesheet" integrity="{{ $bootstrapStyle.Data.Integrity }}"
        crossorigin="anonymous">
    <link rel="preload" href="{{ $bootstrapStyle.Permalink }}" as="style"
        integrity="{{ $bootstrapStyle.Data.Integrity }}" crossorigin="anonymous">

    <!-- Template Main CSS File -->
    {{ $options := (dict "targetPath" "assets/css/style.css" "outputStyle" "compressed" "enableSourceMap" true) }}
    {{ $mainStyle := resources.Get "css/style.scss"
    | resources.ExecuteAsTemplate "css/style.scss" .
    | resources.ToCSS $options
    | minify
    | fingerprint "sha512" }}
    <link href="{{ $mainStyle.Permalink }}" rel="stylesheet" integrity="{{ $mainStyle.Data.Integrity }}"
        crossorigin="anonymous">
    <link rel="preload" href="{{ $mainStyle.Permalink }}" as="style" integrity="{{ $mainStyle.Data.Integrity }}"
        crossorigin="anonymous">

    {{ $options := (dict "targetPath" "assets/vendor/MaterialDesignIcons/css/materialdesignicons.min.css" "outputStyle"
    "compressed" "enableSourceMap" true) }}
    {{ $mdiStyle := resources.Get "vendor/MaterialDesignIcons/scss/materialdesignicons.scss"
    | resources.ExecuteAsTemplate "vendor/MaterialDesignIcons/scss/materialdesignicons.scss" .
    | resources.ToCSS $options
    | minify
    | fingerprint "sha512" }}
    <link href="{{ $mdiStyle.Permalink }}" rel="stylesheet" integrity="{{ $mdiStyle.Data.Integrity }}"
        crossorigin="anonymous">

    <!-- Matomo -->
    <script>
        var _paq = window._paq = window._paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function () {
            var u = "//analytics.datacenters.network/";
            _paq.push(['setTrackerUrl', u + 'matomo.php']);
            _paq.push(['setSiteId', '4']);
            var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
            g.async = true; g.src = u + 'matomo.js'; s.parentNode.insertBefore(g, s);
        })();
    </script>
    <noscript>
        <p><img src="//analytics.datacenters.network/matomo.php?idsite=4&amp;rec=1" style="border:0;" alt="" /></p>
    </noscript>
    <!-- End Matomo Code -->

</head>

<body>
    <main id="main">
        <div class="m-4 col-12">
            <table class="table table-hover" id="packages">
                <thead>
                    <tr>
                        <th scope="col">URL</th>
                        <th scope="col">Score</th>
                        <th scope="col">In testing ?</th>
                        <th scope="col">Bugs</th>
                        <th scope="col">Bad bugs</th>
                        <th scope="col">Last CI date</th>
                        <th scope="col">Last Upload</th>
                        <th scope="col">WNPP (:0) ?</th>
                        <th scope="col">Total maintainer packages</th>
                        <th scope="col">Standards-version</th>
                        <th scope="col">Maintainer e-mail</th>
                        <th scope="col">Uploaders</th>
                        <th scope="col">Vcs-Url</th>
                        <th scope="col">Vcs-Browse</th>
                        <th scope="col">Binaries</th>
                    </tr>
                </thead>
                <tbody>
                    {{ range $.Site.Data.udd.packages }}
                    <tr>
                        <th scope="row"><a href="https://tracker.debian.org/pkg/{{ .source }}">{{ .source }}</a>
                        </th>
                        <td>{{ .score }}</td>
                        <td>{{ .is_in_testing }}</td>
                        <td>{{ .bugs }}</td>
                        <td>{{ .bad_bugs }}</td>
                        <td>{{ .last_ci_date }}</td>
                        <td>{{ .last_upload }}</td>
                        <td>{{ .wnpp_o }}</td>
                        <td>{{ .nbr_packages_maint_email }}</td>
                        <td>{{ .standards_version }}</td>
                        <td>{{ .maintainer_email }}</td>
                        <td>{{ .uploaders }}</td>
                        <td>{{ .vcs_url }}</td>
                        <td>{{ .vcs_browser }}</td>
                        <td>{{ .bin }}</td>
                    </tr>
                    {{ end }}
                </tbody>
                <tfoot>
                    <tr>
                        <th scope="col">URL</th>
                        <th scope="col">Score</th>
                        <th scope="col">In testing ?</th>
                        <th scope="col">Bugs</th>
                        <th scope="col">Bad bugs</th>
                        <th scope="col">Last CI date</th>
                        <th scope="col">Last Upload</th>
                        <th scope="col">WNPP (:0) ?</th>
                        <th scope="col">Total maintainer packages</th>
                        <th scope="col">Standards-version</th>
                        <th scope="col">Maintainer e-mail</th>
                        <th scope="col">Uploaders</th>
                        <th scope="col">Vcs-Url</th>
                        <th scope="col">Vcs-Browse</th>
                        <th scope="col">Binaries</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </main>

    <!-- Vendor JS Files -->
    <script src="https://code.jquery.com/jquery-3.6.3.slim.min.js"
        integrity="sha256-ZwqZIVdD3iXNyGHbSYdsmWP//UBokj2FHAxKuSBKDSo=" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>
    {{ $bootstrapLibJs := resources.Get "vendor/bootstrap/js/bootstrap.bundle.js"
    | fingerprint "sha512"
    }}
    <script src="{{ $bootstrapLibJs.Permalink }}" integrity="{{ $bootstrapLibJs.Data.Integrity }}"
        crossorigin="anonymous"></script>
    <!-- Template Main JS File -->
    {{ $options := (dict "targetPath" "assets/js/main.js" "enableSourceMap" true) }}
    {{ $mainJs := resources.Get "js/main.js"
    | js.Build $options
    | minify
    | fingerprint "sha512"
    }}
    <script src="{{ $mainJs.Permalink }}" integrity="{{ $mainJs.Data.Integrity }}" crossorigin="anonymous"></script>

</body>

</html>
