<!DOCTYPE html>
<html lang="{{ .Lang }}">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>{{ .Title }}</title>
    <meta name="description" content="{{ .Description | default (.Summary | default .Site.Params.description ) }}">
    <meta name="keywords" content="{{ (delimit .Keywords " ,") | default .Site.Params.keywords }}">

    <!-- Vendor CSS Files -->
    {{ $jqueryDataTablesStyle := resources.Get "css/jquery.dataTables.css"
    | minify
    | fingerprint "sha512" }}
    <link href="{{ $jqueryDataTablesStyle.Permalink }}" rel="stylesheet" integrity="{{ $jqueryDataTablesStyle.Data.Integrity }}"
        crossorigin="anonymous">
    <link rel="preload" href="{{ $jqueryDataTablesStyle.Permalink }}" as="style"
        integrity="{{ $jqueryDataTablesStyle.Data.Integrity }}" crossorigin="anonymous">

    {{ $options := (dict "targetPath" "assets/vendor/bootstrap/css/bootstrap.css" "outputStyle" "compressed"
    "enableSourceMap" true) }}
    {{ $bootstrapStyle := resources.Get "vendor/bootstrap/scss/bootstrap.scss"
    | resources.ExecuteAsTemplate "vendor/bootstrap/scss/bootstrap.scss" .
    | resources.ToCSS $options
    | minify
    | fingerprint "sha512" }}
    <link href="{{ $bootstrapStyle.Permalink }}" rel="stylesheet" integrity="{{ $bootstrapStyle.Data.Integrity }}"
        crossorigin="anonymous">
    <link rel="preload" href="{{ $bootstrapStyle.Permalink }}" as="style"
        integrity="{{ $bootstrapStyle.Data.Integrity }}" crossorigin="anonymous">

    <!-- Template Main CSS File -->
    {{ $options := (dict "targetPath" "assets/css/style.css" "outputStyle" "compressed" "enableSourceMap" true) }}
    {{ $mainStyle := resources.Get "css/style.scss"
    | resources.ExecuteAsTemplate "css/style.scss" .
    | resources.ToCSS $options
    | minify
    | fingerprint "sha512" }}
    <link href="{{ $mainStyle.Permalink }}" rel="stylesheet" integrity="{{ $mainStyle.Data.Integrity }}"
        crossorigin="anonymous">
    <link rel="preload" href="{{ $mainStyle.Permalink }}" as="style" integrity="{{ $mainStyle.Data.Integrity }}"
        crossorigin="anonymous">

    {{ $options := (dict "targetPath" "assets/vendor/MaterialDesignIcons/css/materialdesignicons.min.css" "outputStyle"
    "compressed" "enableSourceMap" true) }}
    {{ $mdiStyle := resources.Get "vendor/MaterialDesignIcons/scss/materialdesignicons.scss"
    | resources.ExecuteAsTemplate "vendor/MaterialDesignIcons/scss/materialdesignicons.scss" .
    | resources.ToCSS $options
    | minify
    | fingerprint "sha512" }}
    <link href="{{ $mdiStyle.Permalink }}" rel="stylesheet" integrity="{{ $mdiStyle.Data.Integrity }}"
        crossorigin="anonymous">

    <!-- Matomo -->
    <script>
        var _paq = window._paq = window._paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function () {
            var u = "//analytics.datacenters.network/";
            _paq.push(['setTrackerUrl', u + 'matomo.php']);
            _paq.push(['setSiteId', '4']);
            var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
            g.async = true; g.src = u + 'matomo.js'; s.parentNode.insertBefore(g, s);
        })();
    </script>
    <noscript>
        <p><img src="//analytics.datacenters.network/matomo.php?idsite=4&amp;rec=1" style="border:0;" alt="" /></p>
    </noscript>
    <!-- End Matomo Code -->

</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="https://github.com/air-balloon">Debian dashboard - AirBalloon project</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ .Site.BaseURL }}{{ .Site.Language.Lang }}/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                            href="{{ .Site.BaseURL }}{{ .Site.Language.Lang }}/dashboard.html">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                            href="{{ .Site.BaseURL }}{{ .Site.Language.Lang }}/dashboard-excuses.html">Dashboard (excuses)</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                            href="{{ .Site.BaseURL }}{{ .Site.Language.Lang }}/dashboard-ftp-rm-candidates.html">Dashboard (FTP RM candidates)</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page"
                            href="{{ .Site.BaseURL }}{{ .Site.Language.Lang }}/dashboard-php-web.html">Dashboard (php/web)</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                            href="{{ .Site.BaseURL }}{{ .Site.Language.Lang }}/dashboard-neglected.html">Dashboard (neglected packages)</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                            href="{{ .Site.BaseURL }}{{ .Site.Language.Lang }}/dashboard-abandoned.html">Dashboard (abandoned packages)</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/air-balloon/debian-dashboard">GitHub (source
                            code)</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <main id="main">
        <div class="m-4 col-12">
        In section php or web
            <table class="table table-hover" id="packages">
                <thead>
                    <tr>
                        <th scope="col">Package</th>
                        <th scope="col">Testing</th>
                        <th scope="col">Score</th>
                        <th scope="col">Bugs</th>
                        <th scope="col">Popcons</th>
                        <th scope="col">Last Upload</th>
                        <th scope="col">Total maintainer packages</th>
                        <th scope="col">Standards-version</th>
                        <th scope="col">Maintainer e-mail</th>
                        <th scope="col">Last maintainer upload/signed upload</th>
                        <th scope="col">Uploaders</th>
                        <th scope="col">Vcs-Url</th>
                        <th scope="col">Vcs-Browse</th>
                    </tr>
                </thead>
                <tbody>
                    {{ range $.Site.Data.uddWebPhp.packages }}
                    <tr>
                        <th scope="row">{{ .section }}/<a title="{{ .bin }}" href="https://tracker.debian.org/pkg/{{ .source }}" target="_blank">{{ .source }}</a>
                            ({{ .release_count }})
                            {{ if .wnpp_o }}
                                <span title="{{ .wnpp_o }}" class="text-info">[O]</span>
                            {{ end }}
                            {{ if eq .is_team_maintained true }}
                                <span title="{{ .maintainer_email }}" class="text-info">[T]</span>
                            {{ else if eq .is_team_maintained false }}
                                <span title="{{ .maintainer_email }}" class="text-warning">[<del>team</del>]</span>
                            {{ end }}
                            {{ if eq .is_in_testing false }}
                                <span title="Not in testing" class="text-danger">[<del>sid</del>]</span>
                            {{ end }}
                        </th>
                        <td>
                            {{ if eq .autobuild "yes" }}
                                <span title="{{ .autobuild }}" class="text-success">[AB]</span>
                            {{ end }}
                            {{ if .last_ci_date }}
                                <span title="{{ .last_ci_date }}" class="text-success">[CI]</span>
                            {{ else }}
                                <span class="text-danger">[<del>CI</dev>]</span>
                            {{ end }}
                            {{ if .testsuite }}
                                <span title="{{ .testsuite }}" class="text-success">[A-8]</span>
                            {{ else }}
                                <span class="text-danger">[<del>A-8</dev>]</span>
                            {{ end }}
                        </td>
                        <td>{{ .score }}</td>
                        <td>{{ .bugs }}/B:{{ .bad_bugs }}/O:{{ .old_bugs }}</td>
                        <td>
                            {{ if gt .popcon_installs 300 }}
                                <span title="{{ .popcon_installs }}" class="text-success">[I]</span>
                            {{ else if gt .popcon_installs 100 }}
                                <span title="{{ .popcon_installs }}" class="text-info">[I]</span>
                            {{ else if gt .popcon_installs 50 }}
                                <span title="{{ .popcon_installs }}" class="text-warning">[I]</span>
                            {{  else if lt .popcon_installs 50 }}
                                <span title="{{ .popcon_installs }}" class="text-danger">[I]</span>
                            {{ end }}
                            {{ if gt .popcon_votes 300 }}
                                <span title="{{ .popcon_votes }}" class="text-success">[V]</span>
                            {{ else if gt .popcon_votes 100 }}
                                <span title="{{ .popcon_votes }}" class="text-info">[V]</span>
                            {{ else if gt .popcon_votes 50 }}
                                <span title="{{ .popcon_votes }}" class="text-warning">[V]</span>
                            {{  else if lt .popcon_votes 50 }}
                                <span title="{{ .popcon_votes }}" class="text-danger">[V]</span>
                            {{ end }}
                            <span title="{{ .popcon_recent }}">[R]</span>
                            <span title="{{ .popcon_nofiles }}">[NF]</span>
                        </td>
                        <td>{{ .last_upload }}</td>
                        <td>{{ .nbr_packages_maint_email }}</td>
                        <td>{{ .standards_version }}</td>
                        <td>{{ .maintainer_email }}</td>
                        <td>{{ .last_upload_maint }}/{{ .last_signed_upload_maint }}</td>
                        <td>{{ .uploaders }}</td>
                        <td>{{ .vcs_url }}</td>
                        <td>{{ .vcs_browser }}</td>
                    </tr>
                    {{ end }}
                </tbody>
                <tfoot>
                    <tr>
                        <th scope="col">Package</th>
                        <th scope="col">Testing</th>
                        <th scope="col">Score</th>
                        <th scope="col">Bugs</th>
                        <th scope="col">Popcons</th>
                        <th scope="col">Last Upload</th>
                        <th scope="col">Total maintainer packages</th>
                        <th scope="col">Standards-version</th>
                        <th scope="col">Maintainer e-mail</th>
                        <th scope="col">Last maintainer upload/signed upload</th>
                        <th scope="col">Uploaders</th>
                        <th scope="col">Vcs-Url</th>
                        <th scope="col">Vcs-Browse</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </main>

    <!-- Vendor JS Files -->
    {{ $jqueryMinScript := resources.Get "js/jquery-3.6.3.slim.js"
    | minify
    | fingerprint "sha512" }}
    <script src="{{ $jqueryMinScript.Permalink }}" integrity="{{ $jqueryMinScript.Data.Integrity }}"
        crossorigin="anonymous"></script>

    {{ $jqueryDataTablesScript := resources.Get "js/jquery.dataTables.js"
    | minify
    | fingerprint "sha512" }}
    <script src="{{ $jqueryDataTablesScript.Permalink }}" integrity="{{ $jqueryDataTablesScript.Data.Integrity }}"
        crossorigin="anonymous"></script>

    {{ $bootstrapLibJs := resources.Get "vendor/bootstrap/js/bootstrap.bundle.js"
    | fingerprint "sha512"
    }}
    <script src="{{ $bootstrapLibJs.Permalink }}" integrity="{{ $bootstrapLibJs.Data.Integrity }}"
        crossorigin="anonymous"></script>
    <!-- Template Main JS File -->
    {{ $options := (dict "targetPath" "assets/js/main.js" "enableSourceMap" true) }}
    {{ $mainJs := resources.Get "js/main.js"
    | js.Build $options
    | minify
    | fingerprint "sha512"
    }}
    <script src="{{ $mainJs.Permalink }}" integrity="{{ $mainJs.Data.Integrity }}" crossorigin="anonymous"></script>

</body>

</html>
